name: Demo

on:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  demo:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Jalankan skrip automasi
        run: chmod +x ci.sh && ./ci.sh

      - name: Sediakan artifact 
        uses: actions/upload-pages-artifact@v3
        with:
          path: '.'

      - name: Lancar ke GH pages
        uses: actions/deploy-pages@v4
          
